<!DOCTYPE html>
<html>
 <head>
  <title>Bookers</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href= "" >
 </head>
 <body>
   <p id="notice"></p>

<h1>Books</h1>
 <table>
  <thead>
  <tr>
   <th>Title</th>
   <th>Body</th>
  </tr>
  </thead>
 <tbody>
 <% @books.each do |book| %>
   <td><%= book.content %></td>
 <% end %>
 <h2>New book</h2>

<%= form_with model: book.index do |f| %>
<form class="new book">
 <div class="error_explanation">
  <h2>error prohibited this book from being saved.</h2>
  <ul>
   <li>
    ::marker
    "Body can't be blank"
   </li>
  </ul>
 </div>
 <div class="field">
  <p>Title<p>
 <%= f.book_field :title %>
 </div>
  <div class="field">
  <p>Body</p>
 <%= f.book_area :body %>
  <textarea class="body">
</textarea>
 </div>
 <div class="actions">
  <input type="submit" value="Create Book">
  <%= f.submit 'Create Book' %>
  <% end %>
 </div>
</from>
 </body>
</html>